.container
{
	width: 900px;
	margin: 0 auto;
	text-align: left;
}










@media (max-width: 720px)
{
	.container 
	{
    width: 560px;
 	}
}

@media (max-width: 560px)
{
	.container 
	{
    width: 340px;
 	}
}